@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
/*Page1*/
img{
    background-size: cover;
    width: 100vw;
    height: 100vh;
    height: 680px;
}
.page1{
    padding: 20px;
}
h1{
    color: #183b56;
    font-family: roboto;
    text-align: center;
}
p{
    color: #5a7184;
    font-family: roboto;
    text-align: center;
}
/*Page2*/
.card{
    text-align: center;
    padding: 5px;
    border-style:solid;
    margin: 10px;
    background-color: lightcyan;
}