@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
body{
    background-color: #1b1b1b;
}
#section-main-page h1{
    color: #ffffff;
    padding: 30px;
    font-family: bree serif;
}
.card{
    margin: 100px;
    border-radius: 15px;
    background-color: #e6f6ff;
}
img{
    width: 400px;
    height: 400px;
}
.card h2{
    color: #183b56;
    font-family: bree serif;
    padding: 10px;
    margin: 5px;
}
.card h3{
    color: #183b56;
    font-family: bree serif;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
}
.card p{
    color: #06070d;
    font-family: bree serif;
    padding: 10px;
    margin: 10px;
}
button{
    font-family: roboto;
    border-radius: 6px;
    padding: 10px;
    margin: 15px;
}
.main-page-cards-bg{
    background-color: lightgoldenrodyellow;
}
/*Detailed Page*/
.detailed-card{
    text-align: center;
    padding: 30px;
    margin: 20px;
}
.detailed-card img{
    width: 350px;
    height: 400px;
}
.detailed-card p, h1,h6 {
    font-family: bree serif;
    color: white;
}
.detailed-card .button1{
    background-color: yellow;
    color: black;
    border-radius: 5px;
    width: 80px;
}
.detailed-card .button2{
    background-color: rgb(123, 151, 245);
    color: white;
    border-radius: 5px;
}
